.myHeader{
    display: flex;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;

}
.myHeader ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;

}
.myHeader ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.myHeader ul li a {
    text-decoration: none;
    color: black;
}
#myPhoto{
    width: 150px;
    height: 150px;
    border-radius: 500px;
    object-fit: cover;

}
.imgler{
    width: 390px;
    border-radius: 10px;
}
body{
    display: flex;

    justify-content: center;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kendimAciklama{

    justify-content: center;
    align-items: center;
  }
  .hakkimdaKismi{
    text-align: center;
    max-width: 400px;

  }
  .projects{
    text-align: center;
  }
  .photoDiv{
    margin-top: 30px;
  }
  .translateBtn{
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 10px;
    border: none;


}
.tekrarTR{
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (width <= 768px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
        max-width: 520px;
    
    }

    .mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        border-bottom: 2px solid gray;
    
    }
    .baslik{
        display: flex;
        justify-content: center;
    }
    .kendimAciklama{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #myPhoto{
        width: 150px;
        height: 150px;
        border-radius: 500px;
        object-fit: cover;
    
    }
    

    .projects{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid gray;
    }
    .imgler{
        width: 390px;
        height: 215px;
        border-radius: 10px;
    }
    #projectsHeader{
        border-bottom: 2px solid gray;
        margin: 10px;
    }
    
    

}     

