*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 520px;

}
.myHeader{
    display: flex;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;

}
.myHeader ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;

}
.myHeader ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.myHeader ul li a {
    text-decoration: none;
    color: black;
}
.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-bottom: 2px solid gray;

}
.baslik{
    display: flex;
    justify-content: center;
}
.kendimAciklama{
  display: flex;
  justify-content: center;
  align-items: center;
}
#myPhoto{
    width: 150px;
    height: 150px;
    border-radius: 500px;
    object-fit: cover;

}

.translateBtn{
    position: absolute;
    left: 42%;
    width: 80px;
    height: 20px;
    border-radius: 10px;
    border: none;


}
.tekrarTR{
    position: absolute;
    left: 42%;
    width: 80px;
    height: 20px;
    border: none;
    border-radius: 10px;

}

@media (width >= 1200px) {
    body{
        display: flex;
        height: 100vh;



    }
    .myHeader{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid gray;
        height: 30px;

    }
    .mainContainer{
        display: flex;

    }
}     
