*{
    padding: 0;
    margin: 0;
}

.myHeader{
    display: flex;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;


}
.myHeader ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;

}
.myHeader ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.myHeader ul li a {
    text-decoration: none;
    color: black;
}
#socialHeader{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
    border-bottom: 2px solid gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contactDiv{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 110px;

}